.App {
  /* display: flex; */

  text-align: center;
}

.text {
  width: 930px;
  height: 57px;
  margin: 10px;
  border: 2px solid #9FC5FC;
}

.plusbtn {
  width: 170px;
  height: 64px;
  margin: 10px;
  border: 2px solid #9FC5FC;
  background-color: #fff;
}

.plusbtn:hover {
  background-color: #9FC5FC;
}

.tododata {
  display: inline-block;
  width: 1130px;
  border: 1px solid #9FC5FC;
  
}

.tododata .text-line-through {
  text-decoration: line-through;
}

.tododata > div {
  float: left;
  
}

.tododata > div:first-child {
  width: 10%;
  /* background-color: yellow; */
}

.tododata > div:nth-child(2) {
  width: 70%;
  /* background-color: red; */
}

.tododata > div:nth-child(3) {
  width: 10%;
  /* background-color: blue; */
}